.section-nav {
  border-bottom: 1px solid $gray;
}

.section-links{
  display: flex;
  justify-content: center; 
  align-items: baseline;
  padding: 10px 0;
}

.section-links li {
  padding: 0 10px; 
  font-family: $sans-serif; 
}

.section-links a {

}

.section-links li:last-of-type {
  text-transform: uppercase;
  font-size: 10px; 
}

.section-links a:hover {
  background-color: $light-gray;
}

.section-links a:last-of-type:hover {
  background-color: transparent;
  text-decoration: underline; 
}